@import '../../styles.scss';


.container{
  text-align: center;
  margin: auto;
}

.container-users {
  p {
    color: $secondary-color;
    font-weight: bold;
  }
  img{
    width: 220px;
    border-radius: 100%;
  }
}
