  <header></header>
  <picture>
    <img src="https://i.pinimg.com/originals/c1/c4/bc/c1c4bc5e9338a4cc66ebe8c3086ed13f.jpg" alt="imagen ambientacion">
  </picture>
  <div class="container">
    <h1>Hola! Soy Nestor Guzman</h1>

    <p>Soy Ingeniero en telecomunicaciones apasionado por la tecnologia y el mundo del desarrollo, y en este proyecto muestro mis conocimientos y mi experiencia, seria muy grato para mi hacer parte de su organizacion ya que seria un gran paso para seguir formandome profesionalmente.</p>
  </div>

