  <header></header>
  <div class="image-background">
    <img src="assets/images/BG.png" alt="background image">
  </div>
<section class="hero">
  <main>
    <div class="container">
      <h1>Reframing Economy</h1>
      <p>Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian sus comportamientos y afectan la intensión de consumo.</p>
      <button>Ir al dashboard</button>
      <div class="explore">
        <small>Scroll to explore</small>
        <i class="fas fa-chevron-circle-down"></i>
      </div>
    </div>
  </main>
</section>
			<picture class="component-container-1">
			    <img src="assets/images/Componente2–17.png" alt="">
			</picture>
<section class="container section" id="que-es">
  <div class="container-info">
    <h1>¿Que es?</h1>
    <p>Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert Plutchik´s, que trabaja con las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.
    </p>
    <a href="">Ver Teoria</a>
  </div>
  <picture class="image-container">
    <img src="assets/images/Componente 12 – 1.png" alt="ilustracion que es">
  </picture>
</section>
			<picture class="component-container-2">
			  <img src="assets/images/Componente2–17.png" alt="">
			</picture>
<section class="container section variation-sec" id="porque">
  <picture class="image-container">
    <img src="assets/images/rodion-kutsaev-pVoEPpLw818-unsplash.png" alt="ilustracion por que">
  </picture>
  <div class="container-info right">
    <h1>¿Por qué?</h1>
    <p>Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert Plutchik´s, que trabaja con las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.
    </p>
    <a href="">Ver Teoria</a>
  </div>
</section>
			<picture class="component-container-3">
			<img src="assets/images/Componente 2 – 24.png" alt="">
			</picture>
<section class="container section-2">
  <h1>¿Cómo esto ayuda a las marcas?</h1>
  <p>Esta visión nos ayuda a transformar el journey:</p>
  <div class="container-marks">
    <div class="row pb-4">
      <div class="col-md-4 sm-1 mt-3">
        <img src="assets/images/Grupo 355.png" alt="">
        <h5>Reconocer</h5>
        <p>Reconocer nuevos desencadenantes</p>
      </div>
      <div class="col-md-4 sm-1 mt-3">
        <img src="assets/images/Grupo 356.png" alt="">
        <h5>Repensar</h5>
        <p>Repensar puntos de contacto</p>
      </div>
      <div class="col-md-4 sm-1 mt-3">
        <img src="assets/images/Grupo 357.png" alt="">
        <h5>Reconsiderar</h5>
        <p>Reconsiderar puntos de dolor</p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-4 sm-1 mt-3">
        <img src="assets/images/Grupo 358.png" alt="">
        <h5>Reequilibrar</h5>
        <p>Reequilibrar la emoción.</p>
      </div>
      <div class="col-md-4 sm-1 mt-3">
        <img src="assets/images/Grupo 359.png" alt="">
        <h5>Reimaginar</h5>
        <p>Reimaginar escenarios</p>
      </div>
    </div>
  </div>
</section>
			<picture class="component-container-4">
			<img src="assets/images/Componente 2 – 24.png" alt="">
			</picture>
<section class="container section-3" id="comoseusa">
  <h1>¿Cómo usar el dashboard?</h1>
  <div class="row pb-4 container-marks">
    <div class="col-md-4 sm-1 mt-3">
      <img src="assets/images/Captura de Pantalla 2020-05-19 a la(s) 4.30.28 p. m..png" alt="">
      <p>1. Usa los diferentes selectores y filtros para ver diferentes resultados y análisis.</p>
    </div>
    <div class="col-md-4 sm-1 mt-3">
      <img src="assets/images/Captura de Pantalla 2020-05-19 a la(s) 3.29.16 p. m..png" alt="">
      <p>2. Navega entre las distintas pestañas para encontrar lo que estas buscando.</p>
    </div>
    <div class="col-md-4 sm-1 mt-3">
      <img src="assets/images/Captura de Pantalla 2020-05-19 a la(s) 3.25.42 p. m..png" alt="">
      <p>3. También puedes escuchar los análisis con los principales insights, haciendo clic en el botón de audio.</p>
    </div>
  </div>
  <h4>Ya estas listo para ingresar y visualizar toda la información presentada.</h4>
  <button>Ir al Dashboard</button>
</section>
			<picture class="component-container-5">
				<img src="assets/images/Componente 2 – 24.png" alt="">
			</picture>
<section class="container section-4">
  <h1>Contacto</h1>
  <p>Si tienes alguna duda o inquietud por favor no dudes en contactarnos al siguiente correo:</p>
  <button class="button large">data.manager@wundermanthompson.com</button>
</section>

